<ion-content overflow-scroll="true">
<div>
<div class="jumbotron" style="
    text-align: center;
">
  <h1>MediaTek</h1>
  <p class="lead">
    <img src="img/logo.png" alt="MediaTek"><br>
    </p><p style="
    background: rgb(245,154,0);
">
    MediaTek delivers innovation to everyday life.
    <br>We power 1.5 billion devices per year.
    <br>
    <a class="btn btn-lg btn-success" ng-href="#/" href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a>
</p>

</div>

<div class="row marketing" style="
    text-align: -webkit-center;
    background: rgb(245,154,0);
">
<button ng-click="getImage()">Upload a Photo</button>
</div>
        <div>
</div></div>
</ion-content>
