<ion-content overflow-scroll="true">

<div class="container" style="margin: 0 auto;">
<div class="jumbotron" style="margin: 0 auto;text-align: center;">
 <br><br><br>
  <button ng-click="clickPic()">Camera</button>
  <button ng-click="scanFinger()">Fingerprint</button>
  <button ng-click="scanIos()">TouchID</button>
  <ng-google-maps id="maps"></ng-google-maps>
</div>
<div >
    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true">
      <ui-gmap-marker coords="map.marker.coords" idkey="map.marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>


    </div>
</ion-content>
