<ion-content overflow-scroll="true">

<div class="container" style="margin: 0 auto;">
<div class="jumbotron" style="margin: 0 auto;text-align: center;">
  <h1>MediaTek</h1>
  <p class="lead">
    <img src="img/logo.png" alt="MediaTek"><br>
   </p><p style="background: rgb(245,154,0);">
        MediaTek delivers innovation to everyday life.
       <br>We power 1.5 billion devices per year.</p>
  <p></p>
  <button ng-click="clickPic()">Camera</button>
  <button ng-click="scanFinger()">Fingerprint</button>
  <button ng-click="scanIos()">TouchID</button>
  <ng-google-maps id="maps"></ng-google-maps>
</div>

<div class="row marketing" style="margin: 0 auto;text-align: center;background: rgb(245,154,0);">
<p>This application is only meant for simplifying work of employees and not to be used by any person who is not an employee or is not associated with the company.</p>
</div>

    </div>
</ion-content>
